.custom-marker{
    display: block;
    border: 1px springgreen;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    /* position: relative; */
}

.markerIndex{
    position: absolute;
    top: 0;
    right: 0;
}

